asgiref==3.5.2
attrs==21.2.0
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==2.0.6
chrome-gnome-shell==0.0.0
coverage==6.4.2
crit==3.17.1
cupshelpers==1.0
dbus-python==1.2.18
distro==1.7.0
distro-info==1.1
Django==4.0.6
djangorestframework==3.13.1
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
greenlet==1.1.2
httplib2==0.20.4
idna==3.3
jsonschema==3.2.0
msgpack==1.0.3
protobuf==3.12.4
pycairo==1.20.1
pycups==2.0.1
pycurl==7.44.1
PyGObject==3.42.1
pynvim==0.4.2
pyparsing==3.0.7
PyQt5==5.15.7
PyQt5-sip==12.11.0
pyrsistent==0.18.1
PySimpleSOAP==1.16.2
pysmbc==1.0.23
python-apt==2.3.0+b2
python-debian==0.1.46
python-debianbts==3.2.3
python-dotenv==0.20.0
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
reportbug==11.5.0
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
texttable==1.6.4
unattended-upgrades==0.1
urllib3==1.26.9
websocket-client==1.2.3
xdg==5
